body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* banner section styles */
.banner-container{
    width: 1200px;
    height: 650px;
    background-image: url(../images/banner/banner3.png);
}
.banner-text{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    padding-top: 250px;
    padding-right: 130px;
}
.banner-description{
    height: 78px;
    color: #FFF;
    text-align: right;
    align-items: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-right: 130px;
    margin-top: 24px;
}
.btn-primary{
    color: #005FAC;
    text-align: right;
    align-items: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    margin-left: 900px;
    margin-bottom: 160px;   
}
.btn-primary:hover{
    color: #e79e19;
}
/* profile section styles */
.profile-img{
    width: 300px;
    height: 450px;
    margin-top: 100px;
    margin-top: 150px;
    margin-left: 60px;
}
.main-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.profile-text{
    color:#151414;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 250px;
    margin-right: 130px;
}
.profile-description{
    color:#444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 100px;
}
.advice{
    color:#444343;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 110px;
}
/* plans section styles */
img{
    width: 93px;
    height: 93px;
}
.plans-container{
    display: flex;
    justify-content: center;
    gap: 55px;
}
.plans-title{
    color:#151414;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 24px;
}
.plans-description{
    color:#151414;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 24px;
}
.main-plans{
    color:#151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* background img section */
.div-img{
    background: url(../images/watch.png);
    width: 800px;
    margin-left: 170px;
    border-radius:5px;
}
.img-text{
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 58px;
    margin-left: 64px;
}
.btn{
    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    padding: 20px 36px; 
    margin-left: 64px;  
    margin-bottom: 58px;
    background-color: bisque;
}
.btn:hover{
    color: #e79e19;
}
/* footer section styles */
.footer-container{
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 500px;
    background:#151414;
    margin-top: 130px;
    gap: 200px;
}
.footer-title{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-top: 130px;               
}
.footer-description{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.mail{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.cell{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.title{
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 130px;
}
.contact{
    color:#151414;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    border-radius: 8px;
}
.btn-subscribe{
    width: 170.106px;
    height: 64px;
    border-radius: 8px;
    padding: 20px 36px;
    background: #e79e19;
    margin-top: 16px;
}
.btn-subscribe:hover{
    color: blue;
}