.header{
    height: 200px;
    background-image: url('../images/home.png');
    /* background-image: url('../images/home.png'); */
}

h3{
    color: magenta;
    
    
}
p{
    color: blueviolet;
}
.page-title{
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

